body {
    margin: 0;
    background: linear-gradient(rgb(6, 17, 36), rgb(11, 63, 68));
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    overflow: hidden;
    transition: color 1s;
}

h1 {
    text-align: center;
    margin: 2vh 0;
}

.container,
#counter,
#click-me {
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: inline-block;
    position: relative;
}

#counter,
#click-me {
    position: absolute;
}

#click-me {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000080;
    font-size: 24px;
    border: 2px solid #008000;
    border-radius: 16px;
    top: 40px;
    width: 128px;
    height: 48px;
    color: #ccc;
}

#click-me:hover {
    background-color: #0000c4;
    border: 2px dashed #00c400;
    color: #ddd;
    transition: all .33s;
}

#click-me:active {
    background-color: #00f;
    border: 2px dotted #0f0;
    color: #f99;
    transition: all .25s;
}